APP_NAME=podcast-api
APP_VERSION=3.0.0
ENVIRONMENT=development
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/podcast_db
SIMON_API_URL=http://XX.XX.XXX.XX
JOSE_PABLO_API_URL=http://XX.XX.XXX.XX