# Python
__pycache__/
*.py[cod]
*$py.class

# Virtualenv
.venv/
venv/

# IDE
.vscode/
.idea/

# Env files
.env
.env.test

.pytest_cache/
.coverage
htmlcov/

#docker
docker-compose.local.yml

# AWS
*.pem
*.pem.pub